body { 
    background: linear-gradient(to right, #6a11cb, #f7971e);
}

h1 {
    display: flex;
    justify-content: center;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.sec1 {
    border: 1px solid white;
    height: 600px;
    width: 550px;
    background-color: #f5f5f5;
    margin-top: 80px;
    border-radius: 40px;
    margin-left: 20px;
    box-shadow: 5px 5px 50px rgba(0, 0, 0, 4);
}

.sec2 {
    border: 1px solid white;
    height: 600px;
    width: 550px;
    background-color: #f5f5f5;
    margin-top: 80px;
    border-radius: 40px;
    margin-left: 20px;
    box-shadow: 5px 5px 50px rgba(0, 0, 0, 4);
}

.sect1 {
    display: flex;
    justify-content: space-evenly;
}

footer {
    border: 1px solid white;
    height: 200px;
    width: 95vw;
    background-color: #f5f5f5;
    margin-top: 80px;
    border-radius: 100px;
    margin-left: 20px;
    box-shadow: 5px 5px 50px rgba(0, 0, 0, 4);
}

h2 {
    display: flex;
    justify-content: center;
}

#ABOUT {
    display: flex;
    justify-content: center;
    border: 1px solid white;
    height: 200px;
    width: 95vw;
    background-color: #f5f5f5;
    margin-top: 80px;
    border-radius: 100px;
    margin-left: 20px;
    box-shadow: 5px 5px 50px rgba(0, 0, 0, 4);
}

